/* ===============
Global Style Start
================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'acherusgrotesque-regular';
  src: url('acherusgrotesque-regular-webfont.woff2') format('woff2'),
       url('acherusgrotesque-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* this keeps padding and border from adding to element width */
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
/* =============
Global Style End
================ */
/* ===============
Header Style Start
================== */
nav.tglobal .tul{
  display: flex;
}


/* =============
Header Style End
================ */
/* =============
Main Style Start
================ */



/* ===========
Main Style End
============== */
/* ===============
Footer Style Start
================== */



/* =============
Footer Style End
================ */

/* ==========
Media Queries
============= */

/* Tablet */
@media only screen and (min-width: 580px) {
  /* ===============
  Global Style Start
  ================== */
  

  /* =============
  Global Style End
  ================ */
  /* ===============
  Header Style Start
  ================== */
  

  /* =============
  Header Style End
  ================ */
  /* =============
  Main Style Start
  ================ */
  

  /* ===========
  Main Style End
  ============== */
  /* ===============
  Footer Style Start
  ================== */
  

  /* =============
  Footer Style End
  ================ */
}

/* Desktop */
@media only screen and (min-width: 850px) {
  /* ===============
  Global Style Start
  ================== */
  

  /* =============
  Global Style End
  ================ */
  /* ===============
  Header Style Start
  ================== */
  

  /* =============
  Header Style End
  ================ */
  /* =============
  Main Style Start
  ================ */
  

  /* ===========
  Main Style End
  ============== */
  /* ===============
  Footer Style Start
  ================== */
  

  /* =============
  Footer Style End
  ================ */
}
/* ==
Fonts
===== */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
