/* ===============
Global Style Start
================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@font-face {
  font-family: 'acherusgrotesque-regular';
  src: url('acherusgrotesque-regular-webfont.woff2') format('woff2'),
       url('acherusgrotesque-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* this keeps padding and border from adding to element width */
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
}
/* =============
Global Style End
================ */
/* ===============
Header Style Start
================== */
header{
  height: 100vh;
}
body.thome header{
  background: url(../images/hero_home.jpg) center top / cover no-repeat;
}
body.tbrands header{
  background: url(../images/hero_brands.jpg) center top / cover no-repeat;
}
body.tblog header{
  background: url(../images/hero_blog.jpg) center top / cover no-repeat;
}
body.tcontact header{
  background: url(../images/hero_contact.jpg) center top / cover no-repeat;
}
header > div.tdiv:first-of-type{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 0 0;
  width: 61vw;
}
h1.th1 a{
  font-family: 'acherusgrotesque-regular';
  font-size: 3rem;
  color: #dc0000;
  width: 60%;
}
nav.tglobal{
  width: 40%;
}
nav.tglobal .tul{
  display: flex;
  justify-content: space-between;
}
nav.tglobal .tul li a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
}
nav.tglobal .tul li a:hover{
  color: #dc0000;
}
body.thome nav.tglobal .tul li.thome a,
body.tbrands nav.tglobal .tul li.tbrands a,
body.tblog nav.tglobal .tul li.tblog a,
body.tcontact nav.tglobal .tul li.tcontact a{
  color: #dc0000;
}
header > div.tdiv:nth-of-type(2){
  position: absolute;
  top: 33%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 100%;
}
header > div.tdiv:nth-of-type(2) p.tp{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
}
header > div.tdiv:nth-of-type(2) p.tp:nth-of-type(2){
  font-family: 'Lato', sans-serif;
  font-size: 3.625rem;
  font-weight: 900;
}
header > div.tdiv:nth-of-type(2) p.tp:nth-of-type(3)::before,
header > div.tdiv:nth-of-type(2) p.tp:nth-of-type(3)::after{
  position: absolute;
  top: 0;
  content: '';
  display: block;
  width: 28px;
  height: 49px;
  opacity: .3;
}
header > div.tdiv:nth-of-type(2) p.tp:nth-of-type(3)::before{
  background: url(../images/arrow_left.gif) center / contain no-repeat;
  left: 30px;
}
header > div.tdiv:nth-of-type(2) p.tp:nth-of-type(3)::after{
  background: url(../images/arrow_right.gif) center / contain no-repeat;
  right: 30px;
}
header > div.tdiv:nth-of-type(2) a.ta{
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 3.625rem;
  border: solid 2px #fff;
  border-radius: 2px;
  width: 200px;
  margin: 0 auto;
}
header > div.tdiv:nth-of-type(3){
  position: absolute;
  bottom: 58px;
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
header > div.tdiv:nth-of-type(3) > div.tcircle{
  background-color: #fff;
  border: solid 2px transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
body.thome header > div.tdiv:nth-of-type(3) > div.tcircle.thome,
body.tbrands header > div.tdiv:nth-of-type(3) > div.tcircle.tbrands,
body.tblog header > div.tdiv:nth-of-type(3) > div.tcircle.tblog,
body.tcontact header > div.tdiv:nth-of-type(3) > div.tcircle.tcontact{
  background-color: transparent;
  border: solid 2px #fff;
}
/* =============
Header Style End
================ */
/* =============
Main Style Start
================ */
body {
  line-height: 1.5;
}
.ncategories,
.nsales,
.nblogposts {
  display: flex;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #dc0000;
  font-size: 1.875rem;
}
hr {
  height: 3px;
  background-color: #dc0000;;
  width: 115px;
  border: none;
}
figcaption {
  margin-top: 25px;
}
figcaption#sunglasses {
  margin-left: 1rem;
}
figcaption p {
  line-height: 1.33;
  font-size: 1.125rem;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  margin: 65px 0 65px 0;
}
figcaption p.byline {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #333;
  margin: 0;
}
div.ncontainer {
  width: 1180px;
  margin: 1rem auto;
}
.ncategories,
hr:first-of-type {
  margin-top: 60px;
}
div#nmen,
div#nwomen,
div#nwatches {
  height: 419px;
  width: 370px;
}
div#nmen {
  background-image: url(../images/men.jpg);
  background-color: black;
  margin-left: 1rem;
}
div#nmen:hover,
div#nwomen:hover,
div#nwatches:hover,
div#nsale1:hover,
div#nsale2:hover {
  opacity: .5;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
div#nmen, div#nwomen, div#nwatches {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  line-height: 26.25rem;
  border: solid 3px #fff;
}
div#nsale1,
div#nsale2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2.8125rem;
  text-align: center;
  line-height: 1;
  padding-top: 140px;
}
div#nwomen {
  background-image: url(../images/women.jpg);
  margin: 0 1.25rem 0 1.25rem;
}
div#nwatches {
  background-image: url(../images/watches.jpg);
  margin-right: 1rem;
}
div#nsale1 {
  background-image: url(../images/sale1.jpg);
  width: 570px;
  height: 418px;
  margin: 1.5rem 1rem 1rem 1rem;
  color: #fff;
} 
div#nsale2 {
  background-image: url(../images/sale2.jpg);
  width: 570px;
  height: 418px;
  margin: 1.5rem 1rem 1rem 1rem;
  color: #fff;
}
div#nmensfashion {
  background-image: url(../images/mensfashion.jpg);
  width: 570px;
  height: 400px;
  margin-right: 1rem;
  margin-top: 65px;
}
div#nsunglasses {
  background-image: url(../images/sunglasses.jpg);
  width: 570px;
  height: 400px;
  margin-left: 1rem;
  margin-top: 65px;
}
figcaption a {
  border: solid 1px #333;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 3.2;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 170px;
  height: 53px;
  text-decoration: none;
}
/* ===========
Main Style End
============== */
/* ===============
Footer Style Start
================== */
footer{
  color: #fff;
}
footer form.tform{
  background: url(../images/bg_form.jpg) center top / cover no-repeat;
  height: 250px;
}
footer form.tform > div.tdiv{
  position: relative;
  margin: 0 auto;
  padding-top: 76px;
  width: 61vw;
}
footer form.tform label.tlabel{
  position: absolute;
  left: -999rem;
}
footer form.tform input.tinput[type="email"]{
  background-color: transparent;
  border: solid 1px #fff;
  width: 771px;
  font-size: 0.8125rem;
  line-height: 3rem;
  margin-top: 30px;
  padding-left: 80px;
}
footer form.tform input.tinput[type="email"]::placeholder{
  color: #fff;
}
footer form.tform > div.tdiv div.tdiv{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer form.tform > div.tdiv i{
  position: absolute;
  top: 131px;
  left: 14px;
  font-size: 2.25rem;
  color: #fff;
}
footer form.tform > div.tdiv a.ta{
  color:  #000;
  background-color: #fff;
  width: 272px;
  line-height: 3rem;
  text-align: center;
}
footer div.tdiv.tsocial{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  gap: 46px;
  padding: 58px 0;
}
footer div.tdiv.tsocial i{
  color: red;
}




/* =============
Footer Style End
================ */

/* ==========
Media Queries
============= */

/* Tablet */
@media only screen and (min-width: 580px) {
  /* ===============
  Global Style Start
  ================== */
  

  /* =============
  Global Style End
  ================ */
  /* ===============
  Header Style Start
  ================== */
  

  /* =============
  Header Style End
  ================ */
  /* =============
  Main Style Start
  ================ */
  

  /* ===========
  Main Style End
  ============== */
  /* ===============
  Footer Style Start
  ================== */
  

  /* =============
  Footer Style End
  ================ */
}

/* Desktop */
@media only screen and (min-width: 850px) {
  /* ===============
  Global Style Start
  ================== */
  

  /* =============
  Global Style End
  ================ */
  /* ===============
  Header Style Start
  ================== */
  

  /* =============
  Header Style End
  ================ */
  /* =============
  Main Style Start
  ================ */
  

  /* ===========
  Main Style End
  ============== */
  /* ===============
  Footer Style Start
  ================== */
  

  /* =============
  Footer Style End
  ================ */
}
/* ==
Fonts
===== */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
